> Projeto Desenvolve <br>
Programa√ß√£o Intermedi√°ria com Python <br>
Profa. Camila Laranjeira (mila@projetodesenvolve.com.br) <br>

# 3.6 - Pandas

## Exerc√≠cios
Antes de continuar, baixe os arquivos das bases de dados de partidas em Copas do Mundo e salve na mesma pasta deste notebook.
* https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1930_2022.csv
* https://raw.githubusercontent.com/camilalaranjeira/python-intermediario/main/fifa-wc/matches_1991_2023.csv

A c√©lula a seguir j√° carrega os dados em CSV e ajusta as colunas para trabalharmos com os nomes traduzidos (como fizemos em aula).

In [7]:
import pandas as pd
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',12)

wcwomen_df = pd.read_csv('fifa_wc_matches_1991_2023.csv')
wcmen_df   = pd.read_csv('fifa_wc_matches_1930_2022.csv')
wc = pd.concat((wcwomen_df,wcmen_df)).reset_index()

nomes_traduzidos = {'home_team': 'time_1', 'away_team': 'time_2', 'home_score': 'gols_1', 'away_score': 'gols_2',
                    'Date': 'data', 'Year': 'ano', 'Host': 'pa√≠s_sede', 'Attendance': 'comparecimento',
                    'Score': 'resultado', 'Round': 'rodada', 'home_goal': 'gols_1_detalhes', 'away_goal': 'gols_2_detalhes',
                    'home_own_goal': 'gols_1_contra', 'away_own_goal': 'gols_2_contra',
                    'home_penalty_goal': 'gols_1_penalti', 'away_penalty_goal': 'gols_2_penalti',
                    'home_red_card': 'cartao_vermelho_1', 'away_red_card': 'cartao_vermelho_2',
                    'home_yellow_card_long': 'cartao_amarelo_1', 'away_yellow_card_long': 'cartao_amarelo_2'}

wc = wc.loc[:, nomes_traduzidos.keys()]
wc.columns = nomes_traduzidos.values()

copa = wc['ano'].apply( lambda x: 'Masculina' if x % 2 == 0 else 'Feminina').astype('string')
wc['copa'] = copa
display(wc)

,time_1,time_2,gols_1,gols_2,data,ano,pa√≠s_sede,comparecimento,resultado,rodada,gols_1_detalhes,gols_2_detalhes,gols_1_contra,gols_2_contra,gols_1_penalti,gols_2_penalti,cartao_vermelho_1,cartao_vermelho_2,cartao_amarelo_1,cartao_amarelo_2,copa
0,Spain,England,1,0,2023-08-20,2023,"Australia, New Zealand",75784,1‚Äì0,Final,Olga Carmona ¬∑ 29‚Äô,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['78‚Äô|1:0|Salma Paralluelo'],['55‚Äô|1:0|Lauren Hemp'],Feminina
1,Sweden,Australia,2,0,2023-08-19,2023,"Australia, New Zealand",49461,2‚Äì0,Third-place match,Kosovare Asllani ¬∑ 62‚Äô,NaN,NaN,NaN,Fridolina Rolf√∂ (P) ¬∑ 30‚Äô,NaN,NaN,NaN,"['88‚Äô|2:0|Elin Rubensson', '90+5‚Äô|2:0|Lina Hur...",['45+1‚Äô|1:0|Katrina Gorry'],Feminina
2,Australia,England,1,3,2023-08-16,2023,"Australia, New Zealand",75784,1‚Äì3,Semi-finals,Sam Kerr ¬∑ 63‚Äô,Ella Toone ¬∑ 36‚Äô|Lauren Hemp ¬∑ 71‚Äô|Alessia Rus...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"['10‚Äô|0:0|Alex Greenwood', '90+5‚Äô|1:3|Chloe Ke...",Feminina
3,Spain,Sweden,2,1,2023-08-15,2023,"Australia, New Zealand",43217,2‚Äì1,Semi-finals,Salma Paralluelo ¬∑ 81‚Äô|Olga Carmona ¬∑ 89‚Äô,Rebecka Blomqvist ¬∑ 88‚Äô,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Feminina
4,Australia,France,0,0,2023-08-12,2023,"Australia, New Zealand",49461,(7) 0‚Äì0 (6),Quarter-finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['92‚Äô|0:0|Katrina Gorry'],NaN,Feminina
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,Argentina,France,1,0,1930-07-15,1930,Uruguay,23409,1‚Äì0,Group stage,Luis Monti ¬∑ 81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina
1308,Yugoslavia,Brazil,2,1,1930-07-14,1930,Uruguay,24059,2‚Äì1,Group stage,Aleksandar Tirnaniƒá ¬∑ 21|Ivan Bek ¬∑ 30,Preguinho ¬∑ 62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina
1309,Romania,Peru,3,1,1930-07-14,1930,Uruguay,2549,3‚Äì1,Group stage,Adalbert De»ôu ¬∑ 1|Constantin Stanciu ¬∑ 79|Nico...,Luis de Souza Ferreira ¬∑ 75,NaN,NaN,NaN,NaN,NaN,Pl√°cido Galindo ¬∑ 70,NaN,NaN,Masculina
1310,United States,Belgium,3,0,1930-07-13,1930,Uruguay,18346,3‚Äì0,Group stage,Bart McGhee ¬∑ 23|Tom Florie ¬∑ 45|Bert Patenaud...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina
1311,France,Mexico,4,1,1930-07-13,1930,Uruguay,4444,4‚Äì1,Group stage,Lucien Laurent ¬∑ 19|Marcel Langiller ¬∑ 40|Andr...,Juan Carre√±o ¬∑ 70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masculina

#### Q1.
Fa√ßa as convers√µes de tipo necess√°rias para que a sa√≠da do comando `wc.info()` seja como apresentado a seguir. E **salve o novo dataframe** com o comando `df.to_csv('wc_formatado.csv')`.

```
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype         
---  ------             --------------  -----         
 0   time_1             1312 non-null   string        
 1   time_2             1312 non-null   string        
 2   gols_1             1312 non-null   int64         
 3   gols_2             1312 non-null   int64         
 4   data               1312 non-null   datetime64[ns]
 5   ano                1312 non-null   int64         
 6   pa√≠s_sede          1312 non-null   string        
 7   comparecimento     1312 non-null   int64         
 8   resultado          1312 non-null   string        
 9   rodada             1312 non-null   category      
 10  gols_1_detalhes    970 non-null    string        
 11  gols_2_detalhes    771 non-null    string        
 12  gols_1_contra      57 non-null     string        
 13  gols_2_contra      30 non-null     string        
 14  gols_1_penalti     170 non-null    string        
 15  gols_2_penalti     119 non-null    string        
 16  cartao_vermelho_1  59 non-null     string        
 17  cartao_vermelho_2  65 non-null     string        
 18  cartao_amarelo_1   834 non-null    string        
 19  cartao_amarelo_2   857 non-null    string        
 20  copa               1312 non-null   string 
```

In [8]:
wc[["time_1", "time_2", "pa√≠s_sede", "resultado", "gols_1_detalhes", "gols_2_detalhes", "gols_1_contra", "gols_2_contra",
    "gols_1_penalti", "gols_2_penalti", "cartao_vermelho_1", "cartao_vermelho_2", "cartao_amarelo_1",
    "cartao_amarelo_2"]] = wc[["time_1", "time_2", "pa√≠s_sede", "resultado", "gols_1_detalhes", "gols_2_detalhes",
   "gols_1_contra", "gols_2_contra", "gols_1_penalti", "gols_2_penalti", "cartao_vermelho_1", "cartao_vermelho_2",
                               "cartao_amarelo_1", "cartao_amarelo_2"]].astype("string")
wc["data"] = pd.to_datetime(wc["data"], format = "%Y-%m-%d")
wc["rodada"] = wc["rodada"].astype("category")
wc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time_1             1312 non-null   string
 1   time_2             1312 non-null   string
 2   gols_1             1312 non-null   int64
 3   gols_2             1312 non-null   int64
 4   data               1312 non-null   datetime64[ns]
 5   ano                1312 non-null   int64
 6   pa√≠s_sede          1312 non-null   string
 7   comparecimento     1312 non-null   int64
 8   resultado          1312 non-null   string
 9   rodada             1312 non-null   category
 10  gols_1_detalhes    970 non-null    string
 11  gols_2_detalhes    771 non-null    string
 12  gols_1_contra      57 non-null     string
 13  gols_2_contra      30 non-null     string
 14  gols_1_penalti     170 non-null    string
 15  gols_2_penalti     119 non-null    string
 16  cartao_vermelho_1  59 non-null     string
 17  cartao_vermelho_2  65 non-null     string
 18  cartao_amarelo_1   834 non-null    string
 19  cartao_amarelo_2   857 non-null    string
 20  copa               1312 non-null   string
dtypes: category(1), datetime64[ns](1), int64(4), string(15)
memory usage: 206.8 KB

#### Q2.
Apresente a linha do dataframe `wc` que corresponde ao jogo com maior audi√™ncia da hist√≥ria.

In [9]:
max_comparecimento = wc.loc[wc['comparecimento'].idxmax()]
print(max_comparecimento.to_string())

time_1                                                         Uruguay
time_2                                                          Brazil
gols_1                                                               2
gols_2                                                               1
data                                               1950-07-16 00:00:00
ano                                                               1950
pa√≠s_sede                                                       Brazil
comparecimento                                                  173850
resultado                                                          2‚Äì1
rodada                                                     Final stage
gols_1_detalhes      Juan Alberto Schiaffino ¬∑ 66|Alcides Ghiggia ¬∑ 79
gols_2_detalhes                                            Fria√ßa ¬∑ 47
gols_1_contra                                                     <NA>
gols_2_contra                                                     <NA>
gols_1_penalti                                                    <NA>
gols_2_penalti                                                    <NA>
cartao_vermelho_1                                                 <NA>
cartao_vermelho_2                                                 <NA>
cartao_amarelo_1                                                  <NA>
cartao_amarelo_2                                                  <NA>
copa                                                         Masculina

#### Q3.
Aplicando opera√ß√µes sobre as colunas `ano` e `copa` do dataframe `wc`, apresente quantas copas femininas e quantas copas masculinas j√° aconteceram na hist√≥ria.

Exemplo de sa√≠da (valores inventados):
```
Masculina: 22
Feminina: 9
```

In [10]:
masculina = wc[wc['copa'] == 'Masculina']['ano'].nunique()
feminina = wc[wc['copa'] == 'Feminina']['ano'].nunique()
print(f"Masculina: {masculina}")
print(f"Feminina: {feminina}")

Masculina: 22
Feminina: 9

#### Q3. 
Crie um dataframe `participacao` com as colunas `pa√≠s`, `copa`, e `num_copas` que armazena a quantidade de copas do mundo que cada pa√≠s participou, informando se √© da copa masculina ou feminina. Ao final imprima, como apresentado a seguir, o top 5 pa√≠ses de cada competi√ß√£o que mais participou de copas do mundo.

Exemplo de sa√≠da (valores inventados):
```
pa√≠s            copa        num_copas
Brazil          Feminina    8
Unites States   Feminina    8
Germany         Feminina    8
Japan           Feminina    7
Colombia        Feminina    7
```

```
pa√≠s            copa        num_copas
Brazil          Masculina   21
Germany         Masculina   21
Argentina       Masculina   20
England         Masculina   20
Mexico          Masculina   20
```

In [23]:
# Criar os dataframes separados para time_1 e time_2
time_1_df = wc[['time_1', 'ano', 'copa']].rename(columns={'time_1': 'pa√≠s'})
time_2_df = wc[['time_2', 'ano', 'copa']].rename(columns={'time_2': 'pa√≠s'}) 

# Combinar os dataframes e remover duplicatas
participacao_df = pd.concat([time_1_df, time_2_df])
participacao_df = participacao_df.drop_duplicates(subset=['pa√≠s', 'ano', 'copa'])

# Contar o n√∫mero de participa√ß√µes por pa√≠s e tipo de competi√ß√£o
participacao = participacao_df.groupby(['pa√≠s', 'copa']).size().reset_index(name='num_copas')

# Separar participa√ß√µes por tipo de competi√ß√£o
participacao_masculina = participacao[participacao['copa'] == 'Masculina']
participacao_feminina = participacao[participacao['copa'] == 'Feminina']

# Obter o top 5 pa√≠ses de cada competi√ß√£o
top5_masculina = participacao_masculina.sort_values(by='num_copas', ascending=False).head(5)
top5_feminina = participacao_feminina.sort_values(by='num_copas', ascending=False).head(5)

# Exibir os resultados
display(top5_masculina)
display(top5_feminina)

         pa√≠s       copa  num_copas
11     Brazil  Masculina         22
3   Argentina  Masculina         18
60      Italy  Masculina         18
71     Mexico  Masculina         17
44     France  Masculina         16

        pa√≠s      copa  num_copas
78   Nigeria  Feminina          9
110   Sweden  Feminina          9
63     Japan  Feminina          9
81    Norway  Feminina          9
45   Germany  Feminina          9

#### Q4. 
* Crie um dataframe `gols` com duas colunas `pa√≠s` e `total_gols` com o total de gols marcados por cada pa√≠s durante todas as copas do mundo, juntando gols em casa (`gols_1`) e gols como time visitante (`gols_2`).
* Imprima o dataframe `gols` ordenado de forma decrescente, para que os times com mais gols fiquem no topo.

Segue um exemplo ilustrativo com o formato do dataframe resultado:

```
pa√≠s        total_gols
Brazil      120
Argentina   112
Germany     107
...
```

In [29]:
#pegar dados necess√°rios e os dividindo com o nome gols
gols_1_df = wc[['gols_1', 'time_1']].rename(columns={'time_1':'pais','gols_1': 'gols'})
gols_2_df = wc[['gols_2', 'time_2']].rename(columns={'time_2':'pais','gols_2': 'gols'})

#concatena os dois 
gols_df = pd.concat([gols_1_df, gols_2_df])

#conta os gols de cada pa√≠s e os agrupa
total_gols = gols_df.groupby(['pais'])['gols'].sum().reset_index(name='total_gols')
top = total_gols.sort_values(by='total_gols', ascending=False)

#mostra na tela
display(top)

                   pais  total_gols
8                Brazil         308
31              Germany         254
84        United States         182
30               France         180
75               Sweden         165
..                  ...         ...
6               Bolivia           1
23    Dutch East Indies           0
86              Vietnam           0
90                Zaire           0
79  Trinidad and Tobago           0

[92 rows x 2 columns]

#### Q5. 
Qual pa√≠s tomou mais cart√µes amarelos somando todas as copas?

Neste exerc√≠cio voc√™ vai trabalhar com as colunas `cartao_amarelo_1` e `cartao_amarelo_2` onde cada observa√ß√£o √© uma string represetando uma lista dos cart√µes amarelos de um √∫nico jogo na forma `minuto|placar|jogador(a)`. Por exemplo:
```
['16‚Äô|1:0|Rosana G√≥mez', '20‚Äô|2:0|Gabriela Ch√°vez]
```

Recomendo criar colunas `num_cartoes_1` e `num_cartoes_2` a partir de cada coluna `cartao_amarelo_X` usando o m√©todo gen√©rico `apply` para chamar uma fun√ß√£o que voc√™ vai criar para transformar uma observa√ß√£o de cart√£o amarelo em uma contagem de elementos da lista. 

Lembre de levar em considera√ß√£o que muitas observa√ß√µes s√£o `NaN`. 

Em seguida fa√ßa sua m√°gica para agrupar as informa√ß√µes por pa√≠s, acumular os cart√µes de jogos em casa e jogos visitante, e produzir o resultado final como apresentado a seguir (valores inventados):

```
pa√≠s        cart√µes amarelos
Argentina   97
England     93
Australia   93
...
```

In [36]:
def contar_cartoes(cartoes_str):

    #retornar se for NaN
    if pd.isna(cartoes_str):
        return 0
    
    #remover caracteres indesejados
    cartoes_str = cartoes_str.replace('&rsquor;', "'").replace("[", "").replace("]", "").replace("'", "")

    cartoes_str = cartoes_str.split(", ") #dividir cart√µes em forma de lista
    return len(cartoes_str) #retornar contagem de cart√µes

cartoes_1_df = wc[['cartao_amarelo_1', 'time_1']].rename(columns={'time_1':'pais','cartao_amarelo_1': 'cartoes amarelos'})
cartoes_2_df = wc[['cartao_amarelo_2', 'time_2']].rename(columns={'time_2':'pais','cartao_amarelo_2': 'cartoes amarelos'})

cartoes_df = pd.concat([cartoes_1_df, cartoes_2_df])

#aplicar fun√ß√£o na coluna de cart√µes amarelos
cartoes_df['cartoes amarelos'] = cartoes_df['cartoes amarelos'].apply(contar_cartoes)

#fazer novo dataframe
cartoes_amarelos = cartoes_df.groupby(['pais'])['cartoes amarelos'].sum().reset_index(name='cart√µes amarelos')
top = cartoes_amarelos.sort_values(by='cart√µes amarelos', ascending=False)

display(top)

                 pais  cart√µes amarelos
8              Brazil               168
2           Argentina               162
31            Germany               124
50        Netherlands               117
42              Italy               108
..                ...               ...
86            Vietnam                 2
90              Zaire                 2
14     Chinese Taipei                 1
23  Dutch East Indies                 0
18               Cuba                 0

[92 rows x 2 columns]

#### Q6.
Qual o top10 jogadores com mais gols em copa? Considere gols em jogo e gols de p√™nalti.

Para conseguir essa informa√ß√£o, voc√™ precisar√° trabalhar com as colunas:
```
10  gols_1_detalhes         
11  gols_2_detalhes    
14  gols_1_penalti     
15  gols_2_penalti     
```

Essas tamb√©m s√£o colunas textuais, onde cada observa√ß√µes apresenta todos os gols de uma partida separados pelo caracter `|`. Cada gol est√° na forma `'Jogador(a) ¬∑ minuto‚Äô'`. Por exemplo:
```
'Alex Morgan ¬∑ 12‚Äô|Rose Lavelle ¬∑ 20‚Äô'
```

Lembre de levar em considera√ß√£o que muitas observa√ß√µes s√£o `NaN`. 

Recomendo criar um dicion√°rio √† parte, onde cada chave ser√° um jogador encontrado nessas colunas do dataframe `wc` e o valor correspondente ser√° a contagem de ocorr√™ncias desses nomes.

Em seguida basta converter o seu dicion√°rio em um dataframe e imprim√≠-lo na forma (valores n√£o s√£o inventados üòÅ):
```
jogador(a)      num_gols 
Marta           17
Miroslav Klose  16
... 
```

In [48]:
jogadores_e_gols = {}

def Main():

    #renomear todos para apenas gols
    gols_1_detalhes_df = wc[['gols_1_detalhes']].rename(columns={'gols_1_detalhes':'gols'})
    gols_2_detalhes_df = wc[['gols_2_detalhes']].rename(columns={'gols_2_detalhes':'gols'})
    gols_1_penalti_df = wc[['gols_1_penalti']].rename(columns={'gols_1_penalti':'gols'})
    gols_2_penalti_df = wc[['gols_2_penalti']].rename(columns={'gols_2_penalti':'gols'})

    #concatenar tudo em um s√≥ dataframe
    gols_df = pd.concat([gols_1_detalhes_df, gols_2_detalhes_df, gols_1_penalti_df, gols_2_penalti_df])
    
    #aplicar fun√ß√£o em todos os itens
    gols_df['gols'].apply(processar_gols)

    #criar dataframe com resultado
    gols_df = criar_dataframe_jogadores()

    #define os 10 melhores jogadores
    top_10_jogadores = gols_df.sort_values(by='numero_de_gols', ascending=False).head(10)

    #mostrar na tela
    display(top_10_jogadores)

def processar_gols(gols_str):
    '''Divide os gols de cada partida'''
    #pular NaN
    if pd.isna(gols_str):
        return 0
    
    #dividir jogadores
    gols_str = gols_str.split('|')

    for item in gols_str:

        #deixar s√≥ o nome do jogador
        item_tmp = item
        if '¬∑' in item:
            item_tmp = item.split(' ¬∑ ')
            item_tmp = item_tmp[0]
        
        adicionar_ao_dicionario(item_tmp)
    
def adicionar_ao_dicionario(item):
    '''adiciona jogadores novos e atualiza os j√° existentes no dicion√°rio'''
    if item in jogadores_e_gols:
        jogadores_e_gols[item] += 1
    else:
        jogadores_e_gols[item] = 1
    
def criar_dataframe_jogadores():
    '''Cria um novo dataframe com um dicion√°rio de jogadores/gols'''

    df_jogadores = pd.DataFrame(list(jogadores_e_gols.items()), columns=['jogador', 'numero_de_gols'])

    return df_jogadores
Main()

               jogador  numero_de_gols
433     Miroslav Klose              16
497            Ronaldo              14
169       Birgit Prinz              14
974      Just Fontaine              13
894        Gerd M√ºller              13
882               Pel√©              12
174       Abby Wambach              12
1019     S√°ndor Kocsis              11
603   J√ºrgen Klinsmann              11
222            Sun Wen              10